*.iml
.gradle
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
bin/
gen/
out/
build/
/captures
.externalNativeBuild
/gradle
gradle.properties
build.gradle
*.class
*.dex
*.apk
*.ap_
local.properties
proguard/
*.json
pulltorefresh_library/
vitamio/
*.properties
merger.xml
*.aar
