*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
gradle.properties
build.gradle
*.class
*.dex
*.apk
*.ap_
local.properties
proguard/
*.json
*.class
*.dex
/pulltorefresh_library
*.properties
merge.xml
