<?xml version="1.0" encoding="utf-8"?><!--
  ~ Create on 2017-6-8 下午2:12
  ~ FileName: AndroidManifest.xml
  ~ Author: Ren Yaowei
  ~ Blog: http://www.renyaowei.top
  ~ Email renyaowei@foxmail.com
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryw.zsxs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.XuanKeDetailActivity"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".activity.UserLoginMessageActivity"/>
        <activity android:name=".activity.UserJifenActivity"/>
        <activity android:name=".activity.UserXuebiActivity"/>
        <activity android:name=".activity.UserXueshiActivity"/>
        <activity android:name=".activity.UserMessageActivity"/>
        <activity android:name=".activity.UserShareActivity"/>
        <activity android:name=".activity.UserAccountActivity"/>

        <activity android:name=".activity.MyCollect"/>
        <activity android:name=".activity.MyNotes"/>
        <activity android:name=".activity.MyProblem"/>
        <activity android:name=".activity.CursorZhengDing"/>
        <activity android:name=".activity.MyJiFen"/>
        <activity android:name=".activity.MyTest"/>
        <activity android:name=".activity.ZuZhiAndSchool"/>
        <activity android:name=".activity.Help"/>
        <activity android:name=".activity.Setting"/>
        <activity android:name=".activity.AboutZX" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.XuanKeDetailActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.UserLoginMessageActivity" />
        <activity android:name=".activity.UserJifenActivity" />
        <activity android:name=".activity.UserXuebiActivity" />
        <activity android:name=".activity.UserXueshiActivity" />
        <activity android:name=".activity.UserMessageActivity" />
        <activity android:name=".activity.UserShareActivity" />
        <activity android:name=".activity.UserAccountActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.BackpasswordActivity" />
        <activity android:name=".activity.LoginAcitvity" />
    </application>

</manifest>